/* main page */

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar__main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__1{
    display: block;
}

.entries{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.entries__info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* tags page */
.tags{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* categories page */

.categories{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* authors page */

.authors{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}