<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>

    <h1>All Categories</h1>

    <ul class="navbar">
        <li><a href="index.html">All Posts</a></li>
        <li><a href="../static/tags.html">Tags</a></li>
        <li>Categories</li>
        <li><a href="../static/authors.html">Authors</a></li>
        <li>New Post</li>
    </ul>

    <div class="categories">
        <h2>Category1</h2>
        <h2>Category2</h2>
        <h2>Category3</h2>
        <h2>Category4</h2>
        <h2>Category5</h2>
        <h2>Category6</h2>
        <h2>Category7</h2>
    </div>

    <footer>Created by Olivia Smith. March 2, 2020.</footer>

</body>

</html>