<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrimp Heaven Now</title>
</head>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>

    <div class="header">
        <img class="shrimppic" src="/shrimp.jpg" alt="shrimp">
        <h1>Shrimp Heaven Now</h1>
        <img class="shrimppic" src="/shrimp.jpg" alt="shrimp">
    </div>

    <h2 class="coolbaby">[The Blog For Cool Babies]</h2>


    <ul class="navbar__main">
        <li>All Posts</li>
        <li><a href="../static/tags.html">Tags</a></li>
        <li><a href="../static/categories.html">Categories</a></li>
        <li><a href="../static/authors.html">Authors</a></li>
        <li>New Post</li>
    </ul>

    <div class="entries">
        <section class="entries__1" th:each="post:${posts}"><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}"></a>
            <h3>Blog Post 1 Title</h3>
            <div class="entries__info">
                <p>Olivia Smith</p>
                <p>March 11, 1996</p>
                <p>Category</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Recusandae nulla corrupti voluptas soluta magnam ipsam id,
                quia illum, rerum ab maiores quis, dicta qui vitae repudiandae
                facere voluptate tenetur. Explicabo? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Laboriosam odio ut, cumque
                vitae quidem sint aliquam sed, ipsam facilis cupiditate aperiam?
                Veritatis enim quae illum recusandae modi voluptatum voluptate
                possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae repellat nostrum eos omnis, iste provident quae in
                dolor! Molestiae sed repellendus neque veniam porro voluptatum
                aut labore eveniet, dicta reprehenderit!</p>
            <p>Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags</p>
        </section>

        <section class="entries__2">
            <h3>Blog Post 2 Title</h3>
            <div class="entries__info">
                <p>Emily Cant</p>
                <p>March 11, 1996</p>
                <p>Category</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Recusandae nulla corrupti voluptas soluta magnam ipsam id,
                quia illum, rerum ab maiores quis, dicta qui vitae repudiandae
                facere voluptate tenetur. Explicabo? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Laboriosam odio ut, cumque
                vitae quidem sint aliquam sed, ipsam facilis cupiditate aperiam?
                Veritatis enim quae illum recusandae modi voluptatum voluptate
                possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae repellat nostrum eos omnis, iste provident quae in
                dolor! Molestiae sed repellendus neque veniam porro voluptatum
                aut labore eveniet, dicta reprehenderit!</p>
            <p>Tags,Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags</p>
        </section>

        <section class="entries__3">
            <h3>Blog Post 3 Title</h3>
            <div class="entries__info">
                <p>Drew Davenport</p>
                <p>March 11, 1996</p>
                <p>Category</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Recusandae nulla corrupti voluptas soluta magnam ipsam id,
                quia illum, rerum ab maiores quis, dicta qui vitae repudiandae
                facere voluptate tenetur. Explicabo? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Laboriosam odio ut, cumque
                vitae quidem sint aliquam sed, ipsam facilis cupiditate aperiam?
                Veritatis enim quae illum recusandae modi voluptatum voluptate
                possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae repellat nostrum eos omnis, iste provident quae in
                dolor! Molestiae sed repellendus neque veniam porro voluptatum
                aut labore eveniet, dicta reprehenderit!</p>
            <p>Tags, Tags, Tags, Tags, Tags</p>
        </section>

        <section class="entries__4">
            <h3>Blog Post 4 Title</h3>
            <div class="entries__info">
                <p>Taako Taako</p>
                <p>March 11, 1996</p>
                <p>Category</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Recusandae nulla corrupti voluptas soluta magnam ipsam id,
                quia illum, rerum ab maiores quis, dicta qui vitae repudiandae
                facere voluptate tenetur. Explicabo? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Laboriosam odio ut, cumque
                vitae quidem sint aliquam sed, ipsam facilis cupiditate aperiam?
                Veritatis enim quae illum recusandae modi voluptatum voluptate
                possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae repellat nostrum eos omnis, iste provident quae in
                dolor! Molestiae sed repellendus neque veniam porro voluptatum
                aut labore eveniet, dicta reprehenderit!</p>
            <p>Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags</p>
        </section>
    </div>

    <footer>Created by Olivia Smith. March 2, 2020.</footer>

</body>

</html>