<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrimp Heaven Now</title>
</head>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>

    <div class="header">
        <img class="shrimppic" src="/shrimp.jpg" alt="shrimp">
        <h1>Shrimp Heaven Now</h1>
        <img class="shrimppic" src="/shrimp.jpg" alt="shrimp">
    </div>

    <h2 class="coolbaby">[The Blog For Cool Babies]</h2>


    <ul class="navbar__main">
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/hashtags">Tags</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/authors">Authors</a></li>
    </ul>

    <article>
        <form class="add-post" action="/add-post" method="POST">
            <h2>Add A Post</h2>
            <input name="title">Post Title
            <input name="author">Post Author
            <input name="category">Post Category
            <input name="postBody">Body of Post<br>
            <button type="submit">Make A New Post</button>
        </form>
    </article>
    
    <div class="entries">
        <article class="entries__1" th:each="post:${posts}"><a th:href="@{'/posts/' + ${post.getTitle()}}" th:text="${post.title}"></a>
            <h3></h3>
            <div class="entries__info">
                <a th:href="@{'/author/' + ${post.getAuthor().name}}">
                <p th:text="${post.getAuthor().name}"></p></a>
                <p>March 11, 1996</p>
               <a th:href="@{'/categories/' + ${post.getCategory().id}}"><p th:text="${post.getCategory().title}"></p></a>
            </div>
            <p th:text="${post.getPostBody()}"></p>
           <a th:each="hashtag: ${post.getHashtags()}" th:href="@{'/hashtag/' + ${hashtag.getName()}}">
            <p th:text="'#'+${hashtag.name}"></p></a>
        </article>
    </div>





    <footer>Created by Olivia Smith. March 2, 2020.</footer>

</body>

</html>