<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>

    <h1>Blog Post 1 Title</h1>

    <ul class="navbar">
        <li>All Posts</li>
        <li><a href="../static/tags.html">Tags</a></li>
        <li><a href="categories.html">Categories</a></li>
        <li><a href="../static/authors.html">Authors</a></li>
        <li>New Post</li>
    </ul>


    <section class="entries__1">
        <div class="entries__info">
            <p>Olivia Smith</p>
            <p>March 11, 1996</p>
            <p>Category</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Recusandae nulla corrupti voluptas soluta magnam ipsam id,
            quia illum, rerum ab maiores quis, dicta qui vitae repudiandae
            facere voluptate tenetur. Explicabo? Lorem ipsum dolor sit
            amet consectetur, adipisicing elit. Laboriosam odio ut, cumque
            vitae quidem sint aliquam sed, ipsam facilis cupiditate aperiam?
            Veritatis enim quae illum recusandae modi voluptatum voluptate
            possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Recusandae repellat nostrum eos omnis, iste provident quae in
            dolor! Molestiae sed repellendus neque veniam porro voluptatum
            aut labore eveniet, dicta reprehenderit!</p>
        <p>Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags</p>
    </section>
</body>
</html>