<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>

    <div class="header">
        <h1>Author Name</h1>
    </div>



    <ul class="navbar">
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/hashtags">Tags</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/authors">Authors</a></li>
    </ul>

    <div class="entries">
        <section class="entries__1">

            <h3>Blog Post 1 Title</h3>
            <div class="entries__info">
                <p>Olivia Smith</p>
                <p>March 11, 1996</p>
                <p>Category</p>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Recusandae nulla corrupti voluptas soluta magnam ipsam id,
                quia illum, rerum ab maiores quis, dicta qui vitae repudiandae
                facere voluptate tenetur. Explicabo? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Laboriosam odio ut, cumque
                vitae quidem sint aliquam sed, ipsam facilis cupiditate aperiam?
                Veritatis enim quae illum recusandae modi voluptatum voluptate
                possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae repellat nostrum eos omnis, iste provident quae in
                dolor! Molestiae sed repellendus neque veniam porro voluptatum
                aut labore eveniet, dicta reprehenderit!</p>
            <p>Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags</p>
        </section>

    </div>

    <footer>Created by Olivia Smith. March 2, 2020.</footer>

</body>

</html>