<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>

    <div class="header">
        <h1 th:text="'All Reviews By '+ ${name}"></h1>
    </div>



    <ul class="navbar">
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/hashtags">Tags</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/authors">Authors</a></li>
    </ul>

    <div class="entries">
        <section class="entries__1" th:each="author:${author.getPosts()}">
            <a th:href="@{'/posts/' + ${post.getTitle()}}"><h3 th:text="${post.getTitle()}"></h3></a>
            <div class="entries__info">
                <p th:text="${post.getAuthor().name}"></p>
                <p>March 11, 1996</p>
                <p th:text="${post.getCategory().title}"></p>
            </div>
            <p class="postBody" th:text="${post.getPostBody()}"></p>
            <a th:each="hashtag: ${post.getHashtags()}" th:href="@{'/hashtag/' + ${hashtag.getName()}}"
            ><p th:text="'#'+${hashtag.getName()}"></p></a>
        </section>
    </div>


    <footer>Created by Olivia Smith. March 2, 2020.</footer>

</body>

</html>