<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Hashtags</title>
</head>

<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>
    <h1>All Hashtags</h1>

    <ul class="navbar">
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/hashtags">Tags</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/authors">Authors</a></li>
    </ul>

    <div class="tags">
        <a th:each="hashtags:${allHashtags}" th:href="@{'/hashtag/'+ ${hashtags.getName()}}"><p class="tag" th:text="'#'+${hashtags.getName()}"></p></a>
    </div>

    <footer>Created by Olivia Smith. March 2, 2020.</footer>

</body>

</html>