<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Hashtags</title>
</head>

<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/layout.css">
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<body>
    <h1>All Hashtags</h1>

    <ul class="navbar">
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/hashtags">Tags</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/authors">Authors</a></li>
    </ul>

    <article>
        <form class="hashtag" th:action="'posts/' + ${title} + '/add-hashtag'" method="POST">
            <h2>Add A Hashtag</h2>
            <a><p>
            <input name="hashtag" type="text"></p></a>
            <button type="submit">Make A New Hashtag</button>
        </form>
    </article>


    <form class= "single-review" method="POST" th:action="'/movies/' + ${movie.title} + '/add-review'">

        <div class="review-title">
            <a>
                <p><input name="reviewTitle" th:value="${movie.title}"></p>
            </a>
        </div>
        <div class="review-num-stars">
            <p><input name="rating" type="text"></p>
        </div>
        <div class="review-date-time">
            <p><input name="author" type="text"></p>
        </div>
        <div class="review-description-summary">
            <p><textarea name="summary" type="type">
                         </textarea>
                <button type="submit">Make A New Review</button>


                <div class="tags">
        <a th:each="hashtags:${allHashtags}" th:href="@{'/hashtag/'+ ${hashtags.getName()}}"><p class="tag" th:text="'#'+${hashtags.getName()}"></p></a>
    </div>

    <footer>Created by Olivia Smith. March 2, 2020.</footer>

</body>

</html>